.home {
    width: 100%;
    min-height: calc(100vh - 80px);
    max-height: 800px;
    overflow: hidden;
    overflow-y: auto;
}

.home-content {
    min-height: 0;
    max-width: 1190px;
    
}

h1 {
    height: 4000px;
}