.navbar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 42px 24px;
  border-right: 1px solid #22304450;
  box-shadow: 4px 0px 4px -4px #ffe9c750;
  color: #F7FAFF;
  background-color: #223044;
  cursor: default;
  font-size: 24px;
  flex-shrink: 0;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.logo-nav h3 {
  color: #ffe9c7;
}

.navbar .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #ffe9c7;
  font-size: 42px;
}

.navbar .logo-container:hover {
  color: #F7FAFF;
}

.logo {
  height: 52px;
  object-fit: contain;
}

.navbar .nav-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.navbar a {
    color: #F7FAFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a.active p {
    color: #ffe9c7;
    font-weight: 700;
  }

.Imprint-policy-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width:1000px) {
  .navbar {
    display: none;
  }
}
