.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 24px;
  padding: 42px 16px;
}

.footer .link {
 color: #223044;
 text-decoration: none;
}

.footer .link:hover {
 text-decoration: underline;
 cursor: pointer;
}